<form class="" (submit)="addTask($event)">
	<md-input [(ngModel)]="title" class="demo-full-width" style="width: 100%" name="title" placeholder="Add Task">
	</md-input>
</form>

<div class="task-list">
	<md-card *ngFor='let task of tasks'>
		<md-grid-list cols="7" rowHeight="30px">
			<md-grid-tile colspan="1">
				<md-checkbox [checked]="task.isDone" (click)="updateStatus(task)"></md-checkbox>
			</md-grid-tile>
			<md-grid-tile colspan="5">
				{{task.title}}
			</md-grid-tile>
			<md-grid-tile colspan="1">
				<button md-button (click)="deleteTask(task._id)">Delete</button>
			</md-grid-tile>
		</md-grid-list>
	</md-card>
</div>